.homeAbout {
    font-family: "ClashDisplay";
    // border: 1px solid #000;
    display: grid;
    min-height: 50vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "h2 h2 "
        "aboute1 aboute2";
    // padding: 2rem;
    // margin: auto 50px;
}

h2 {
    grid-area: h2;
    font-size: clamp(1.8rem, 5vw, 3rem);
    padding: clamp(1.2rem, 2.5vw, 1.2rem);
}

.aboute1 {
    grid-area: aboute1;
    font-size: clamp(1.2rem, 3vw, 1.8rem);
    padding: clamp(1.2rem, 3vw, 1.2rem);
}

.aboute2 {
    grid-area: aboute2;
    font-size: clamp(1rem, 2.5vw, 1.4rem);
    padding: clamp(1.2rem, 2.5vw, 1.2rem);
}

/* Für kleinere Bildschirme (z.B. Smartphones) */
@media (max-width: 768px) {
    .homeAbout {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "h2"
            "aboute1"
            "aboute2";
    }

    .aboute1 {
        font-size: 1.2rem;
        font-weight: 490;
    }

    .aboute2 {
        font-size: 1.1rem;

    }
}