@font-face {
    font-family: 'ClashDisplay';
    src: url('../../assets//fonts/ClashDisplay-Variable.ttf') format('woff2')
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


    .Jobs {
        position: absolute;
        top: 40%;
        bottom: 70%;
        left: 50%;


        z-index: 1;

        .jobsDe {
            font-size: 1.5em;
            text-shadow: 1px 1px 1px '#000000';

            h4 {
                font-weight: 300;
                font-family: "ClashDisplay";
                color: #fff;



                .jobFr {
                    display: block;
                }
            }
        }


        .texth3 {
            font-size: 3rem;
            font-weight: 500;
            text-shadow: 1px 1px 1px '#000000';
        }
    }

    .image {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        z-index: 0;
        position: relative;
        // margin-bottom: 100vh;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            object-position: center;
        }

        .sliderContainer {
            position: absolute;
            top: calc(100vh - 300px);
        }

        .slider {
            position: relative;
            white-space: nowrap;
            display: flex;
        }

        .slider p {
            font-family: "ClashDisplay";
            text-shadow: 1px 1px 1px '#000000';
            margin: 0px;
            color: #fff;
            font-size: 200px;
            font-weight: 500;
        }

        .slider p:nth-of-type(2) {
            position: absolute;
            left: 100%;
        }
    }

    .headline {
        height: 100vh;

    }
}


.aboute3 {
    font-size: 1.2rem;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;

    a {
        font-family: "ClashDisplay";
        text-decoration: none;
        color: #fff;
        height: clamp(9em, 12vw, 11em);
        width: clamp(9em, 12vw, 11em);
        border-radius: 50%;
        background-color: #1f1f1f;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}


//===============  Home About ==================

@media screen and (max-width: 768px) {
    .headline {
        height: 70vh;
    }

    .aboute3 {


        a {
            font-size: 1rem;
            height: clamp(6em, 12vw, 11em);
            width: clamp(6em, 12vw, 11em);
            border-radius: 50%;
            background-color: #1f1f1f;
            padding: 1rem;
        }

        a:hover {
            background-color: #333;
        }
    }



    .Jobs {
        top: 30%;
    }

    .Jobs.jobsDe {
        font-size: 3rem;
    }

    .Jobs.jobsDe h4 {
        font-size: 2rem;
    }

    .Jobs.jobsDe.jobFr {
        font-size: 1.5rem;
    }

    .image {
        height: 80vh;
    }

    .slider p {
        font-size: 250px;
    }

    .slider p:nth-of-type(2) {
        position: absolute;
        left: 150%;
    }



    .headline {
        background-color: #1f1f1f;
    }

    .headline h1 {
        font-size: 5rem;
        color: #fff;
    }

}