/* .container {

}

.image {
  width: 100%;
  min-height: 70vh;

}

.image img {
  width: 100%;
  min-height: 100vh;
  height: auto;
  object-fit: cover;

} */

/* 
.boxmain {
  display: grid;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;

  gap: 1rem;
}

.box {
  background-color: blue;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "img text";
  gap: 1rem;


}


.App1,
.App2,
.App3,
.App4,
.App5,
.App6 {
  border-radius: 10px;
  padding: 1rem;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

@media screen and (max-width: 768px) {
  .box {
    grid-template-columns: 1fr;
    grid-template-areas: "img" "text";
  }

} */